.form-container {
    display: flex;
    width: 100%;
    height: 100vh;
}
.form-badge-search {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.badge-icon {
    margin: 0px 25%;
}

.search-button {
    background-color: #525dc7;
    border-color: #525dc7;
}

.search-button:hover {
    background-color: #5c67e0;
    border-color: #5c67e0;
}