.jumbotron {
    padding-left: 0rem;
    padding-right: 0rem;
}

.claim-badge-button {
    background-color: #525dc7;
    border-color: #525dc7;
}

.claim-badge-button:hover {
    background-color: #5c67e0;
    border-color: #5c67e0;
}

.badge-image {
    max-width: 50%;
    max-height: 50%;
}

.badge-sidebar {
    background-color: #fff;
    position: absolute;
    top: 5rem;
    width: 100%;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.space{
    display: flex;
    flex-direction: row;
}

.sections{
    width:33%;
    vertical-align: middle;
    align-items: center;
}

.titleV{
    margin-top:10%
}

.buttonV{
    margin-top:20%
}


@media(max-width:400px){
    .titleV{
        margin-top:10%;
        word-wrap: break-word;
    }
    
    .buttonV{
        margin-top:70%
    }

    .badge-image {
        max-width: 50%;
        max-height: 50%;
        margin-top: 70%;
    }
}