.dashboard{
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    text-align: left;
}

.card{
    margin-bottom: 20px;
}

.white{
    color: white;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
#myBar {
    width: 0%;
    height: 15px;
    margin-top: 10%;
    font-size: 10px;
    text-align: center;
    background-color: #6cc7be;
}